In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datasets import load_dataset

# Load the dataset
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

#cleaning the data
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [3]:
median_salary_year_avg = df['salary_year_avg'].median()
median_salary_year_avg

115000.0

In [ ]:
median_salary_hour_avg = int(df['salary_hour_avg'].median())
median_salary_hour_avg

45

In [ ]:
df_filled = df

In [13]:
df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_salary_year_avg)
df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_salary_hour_avg)
df_filled.loc[0:10,'salary_year_avg':"salary_hour_avg"]

    salary_year_avg  salary_hour_avg
0          115000.0             45.0
1          115000.0             45.0
2          115000.0             45.0
3          115000.0             45.0
4          115000.0             45.0
5          115000.0             45.0
6          115000.0             45.0
7          115000.0             45.0
8          115000.0             45.0
9          115000.0             45.0
10         115000.0             45.0

In [15]:
df_unique = df_filled

df_unique = df_unique.drop_duplicates()
print('original length:' , len(df_filled))
print('new length:', len(df_unique))
print('removed number of duplicates:', len(df_filled) - len(df_unique))

original length: 785741
new length: 785640
removed number of duplicates: 101

In [16]:
df_unique = df_unique.drop_duplicates(subset=['job_title', 'company_name'])
print('original length:' , len(df_filled))
print('new length:', len(df_unique))
print('removed number of duplicates:', len(df_filled) - len(df_unique))

original length: 785741
new length: 508042
removed number of duplicates: 277699